/* app css stylesheet */

body {

}

ul {
  margin: 0px;
}

.top-menu {
  background: #f6f6f6;
  border-bottom: 1px solid #e8e8e8;
  font-size: .9rem;
  padding: .3em 0;

}

.inline-block {
  display: inline-block;
}