<div>
<ul class="nav nav-sidebar">
    <li class="active"><a href="javascript:void(0);">Overview <span class="sr-only">(current)</span></a></li>
    <li><a  ui-sref="home({menuType:0})">操作一</a></li>
    <li><a  ui-sref="home({menuType:1})">操作二</a></li>
    <li><a  ui-sref="home({menuType:2})">操作三</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="#">Nav item</a></li>
    <li><a href="#">Nav item again</a></li>
    <li><a href="#">One more nav</a></li>
    <li><a href="#">Another nav item</a></li>
    <li><a href="#">More navigation</a></li>
</ul>
</div>