<nav class="navbar navbar-inverse " role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">找木网</a>
    </div>
    <ui class="nav navbar-nav">
        <li>
            <a ui-sref="home">商品管理</a>
        </li>
        <li>
            <a ui-sref="home.goodsvar">商品类别管理</a>
        </li>
        <li>
            <a ui-sref="home.usermng">用户管理</a>
        </li>
        <li>
            <a ui-sref="home.permission">权限管理</a>
        </li>
        <li>
            <a ui-sref="home.report">报表管理</a>
        </li>
        <li>
            <a ui-sref="home.settings">系统设置</a>
        </li>
    </ui>
</nav>