<!-- footer -->
<footer id="footer" class="footer">
  <nav class="container">
    <ul class="nav-footer center-block">
      <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cart-arrow-down fa-inverse fa-stack-1x"></i>
        </span>
        <span>我要买木材</span>
        <ul>
          <li>我是买家，如何找货？</li>
          <li>商城采购流程</li>
          <li>在线找车</li>
          <li>资源单下载</li>
          <li>现货搜索</li>
        </ul>
      </li>
      <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-tree fa-inverse fa-stack-1x"></i>
        </span>
        <span>我要卖木材</span>
        <ul>
          <li>我是卖家，如何销售？</li>
          <li>资源单上传</li>
          <li>如何吸引更多买家</li>
          <li>资源单下载</li>
          <li>卖家如何直接报价</li>
        </ul>
      </li>
      <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-compass fa-inverse fa-stack-1x"></i>
        </span>
        <span>交易指南</span>
        <ul>
          <li>交易规则</li>
          <li>行情资讯</li>
          <li>怎样保证交易安全</li>
          <li>报价来源及收费标准</li>
          <li>现货搜索</li>
        </ul>
      </li>
      <li>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-question fa-inverse fa-stack-1x"></i>
        </span>
        <span>常见问题</span>
        <ul>
          <li>注册/登录流程</li>
          <li>无法登录/忘记密码</li>
          <li>会员中心</li>
          <li>修改账户信息</li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="link">
    <ul class="list-inline text-center">
      <li>关于我们</li>
      <li>|</li>
      <li>法律声明</li>
      <li>|</li>
      <li>诚聘英才</li>
      <li>|</li>
      <li>联系我们</li>
      <li>|</li>
      <li>友情链接</li>
    </ul>
  </div>
  <div class="copyright text-center">
    COPYRIGHT © 找木网  沪ICP备  ICP证
  </div>
  <div class="img">
    
  </div>
</footer>
<!-- /footer -->