<div ng-include="'partials/nav.html'" scope="" onload=""></div>
<div class="search-body-div container">
	<div class="search-nav-div">
		木材商城 <i class="glyphicon glyphicon-chevron-right"></i> 木材　
	</div>
	<div class="goods-choice-div">
		木材
		<strong>商品筛选</strong>
		<span>(共<i>15</i>个商品)</span>
	</div>
	<div class="search-list-div">
		<div class="sl-div">
			<div class="sl-key">品种 : </div>
			<div class="sl-value">
				<ul class="sl-value-ul">
					<li>红松</li>
					<li>白松</li>
					<li>血檀木</li>
					<li>水曲柳</li>
					<li>榆木</li>
					<li>花梨木</li>
					<li>榉木</li>
					<li>泡桐</li>
					<li>椴木</li>
					<li>人造板</li>
					<li>紫檀（红木）</li>
				</ul>
			</div>
		</div>
		<div class="sl-div">
			<div class="sl-key">区域 : </div>
			<div class="sl-value">
				<ul class="sl-value-ul">
					<li>不限</li>
					<li>中国</li>
					<li>东南亚</li>
					<li>非洲</li>
					<li>南美</li>
					<li>其他国家</li>
				</ul>
			</div>
		</div>
		<div class="sl-div">
			<div class="sl-key">货物所在地 : </div>
			<div class="sl-value">
				<ul class="sl-value-ul">
					<li>不限</li>
					<li>江苏</li>
					<li>上海</li>
					<li>浙江</li>
					<li>广州</li>
					<li>北京</li>
					<li>云南</li>
				</ul>
			</div>
		</div>
		<div class="sl-div">
			<div class="sl-key">筛选条件 : </div>
			<div class="sl-value">
				<ul class="sl-value-ul">
					<li>不限</li>
					<li>带皮</li>
					<li>砍皮</li>
					<li>板材</li>
					<li>金星</li>
					<li>树瘤</li>
				</ul>
			</div>
		</div>
	</div>
	<!--picture list-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3 hot-goods-div">
				<div class="slidebar-title-div">
					<h3>
						<span>推广商品 </span>
						<i class="glyphicon glyphicon-thumbs-up"></i>
					</h3>
				</div>
				<div class="sliderbar-content-div">
					<ul>
						<li><img src="img/sc6.jpg"></li>
						<li><img src="img/sc4.jpg"></li>
						<li><img src="img/sc5.jpg"></li>
						<li><img src="img/sc3.jpg"></li>
						<li><img src="img/sc5.jpg"></li>
					</ul>				
				</div>
			</div>
			<div class="col-xs-9 woods-goods-list">
				<ul class="woods-goods-listul">
					<li>
						<div class="container-imgshow">
							<div class="caption-img-div">
								<a href="#"><img src="img/sc3.jpg"></a>
							</div>
							<div class="wood-favorite-div">
								<span class="glyphicon glyphicon-heart"></span>
							</div>
							<div class="caption-div">
								<h4>
									血檀（染料紫檀）
									<span>品质保证</span>
								</h4>
								<div class="originplace-div">
									<span class="originplace-1">原产地 :</span>
									<span class="originplace-2">中国</span>
								</div>
								<div class="specifications-div">
									<span class="specifications">规格：细木工板</span>
								</div>
								<div class="loco-div">
									<span class="loco">交易地点：菲律宾</span>
								</div>
								<div class="description-div">
									<p class="description">集成材是小块板材通过指接胶拼接、经高温热压一次定型而成。</p>
								</div>
								<div class="price-div">
									<span class="price">￥ 599 / 吨</span>
								</div>
								<div class="commentstar-div">
									<span class="commentstar">
										<span class="star-fill">
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="score">
												(7.8分)
											</span>
										</span>
										<span class="read-count">
											<span class="glyphicon glyphicon-eye-open"></span>&nbsp;7250
										</span>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container-imgshow">
							<div class="caption-img-div">
								<a href="#"><img src="img/sc1.jpg"></a>
							</div>
							<div class="wood-favorite-div">
								<span class="glyphicon glyphicon-heart"></span>
							</div>
							<div class="caption-div">
								<h4>
									血檀（染料紫檀）
									<span>品质保证</span>
								</h4>
								<div class="originplace-div">
									<span class="originplace-1">原产地 :</span>
									<span class="originplace-2">中国</span>
								</div>
								<div class="specifications-div">
									<span class="specifications">规格：细木工板</span>
								</div>
								<div class="loco-div">
									<span class="loco">交易地点：菲律宾</span>
								</div>
								<div class="description-div">
									<p class="description">集成材是小块板材通过指接胶拼接、经高温热压一次定型而成。</p>
								</div>
								<div class="price-div">
									<span class="price">￥ 599 / 吨</span>
								</div>
								<div class="commentstar-div">
									<span class="commentstar">
										<span class="star-fill">
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="score">
												(7.8分)
											</span>
										</span>
										<span class="read-count">
											<span class="glyphicon glyphicon-eye-open"></span>&nbsp;7250
										</span>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container-imgshow">
							<div class="caption-img-div">
								<a href="#"><img src="img/sc2.jpg"></a>
							</div>
							<div class="wood-favorite-div">
								<span class="glyphicon glyphicon-heart"></span>
							</div>
							<div class="caption-div">
								<h4>
									血檀（染料紫檀）
									<span>品质保证</span>
								</h4>
								<div class="originplace-div">
									<span class="originplace-1">原产地 :</span>
									<span class="originplace-2">中国</span>
								</div>
								<div class="specifications-div">
									<span class="specifications">规格：细木工板</span>
								</div>
								<div class="loco-div">
									<span class="loco">交易地点：菲律宾</span>
								</div>
								<div class="description-div">
									<p class="description">集成材是小块板材通过指接胶拼接、经高温热压一次定型而成。</p>
								</div>
								<div class="price-div">
									<span class="price">￥ 599 / 吨</span>
								</div>
								<div class="commentstar-div">
									<span class="commentstar">
										<span class="star-fill">
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="score">
												(7.8分)
											</span>
										</span>
										<span class="read-count">
											<span class="glyphicon glyphicon-eye-open"></span>&nbsp;7250
										</span>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container-imgshow">
							<div class="caption-img-div">
								<a href="#"><img src="img/sc6.jpg"></a>
							</div>
							<div class="wood-favorite-div">
								<span class="glyphicon glyphicon-heart"></span>
							</div>
							<div class="caption-div">
								<h4>
									血檀（染料紫檀）
									<span>品质保证</span>
								</h4>
								<div class="originplace-div">
									<span class="originplace-1">原产地 :</span>
									<span class="originplace-2">中国</span>
								</div>
								<div class="specifications-div">
									<span class="specifications">规格：细木工板</span>
								</div>
								<div class="loco-div">
									<span class="loco">交易地点：菲律宾</span>
								</div>
								<div class="description-div">
									<p class="description">集成材是小块板材通过指接胶拼接、经高温热压一次定型而成。</p>
								</div>
								<div class="price-div">
									<span class="price">￥ 599 / 吨</span>
								</div>
								<div class="commentstar-div">
									<span class="commentstar">
										<span class="star-fill">
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="score">
												(7.8分)
											</span>
										</span>
										<span class="read-count">
											<span class="glyphicon glyphicon-eye-open"></span>&nbsp;7250
										</span>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container-imgshow">
							<div class="caption-img-div">
								<a href="#"><img src="img/sc5.jpg"></a>
							</div>
							<div class="wood-favorite-div">
								<span class="glyphicon glyphicon-heart"></span>
							</div>
							<div class="caption-div">
								<h4>
									血檀（染料紫檀）
									<span>品质保证</span>
								</h4>
								<div class="originplace-div">
									<span class="originplace-1">原产地 :</span>
									<span class="originplace-2">中国</span>
								</div>
								<div class="specifications-div">
									<span class="specifications">规格：细木工板</span>
								</div>
								<div class="loco-div">
									<span class="loco">交易地点：菲律宾</span>
								</div>
								<div class="description-div">
									<p class="description">集成材是小块板材通过指接胶拼接、经高温热压一次定型而成。</p>
								</div>
								<div class="price-div">
									<span class="price">￥ 599 / 吨</span>
								</div>
								<div class="commentstar-div">
									<span class="commentstar">
										<span class="star-fill">
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="score">
												(7.8分)
											</span>
										</span>
										<span class="read-count">
											<span class="glyphicon glyphicon-eye-open"></span>&nbsp;7250
										</span>
									</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container-imgshow">
							<div class="caption-img-div">
								<a href="#"><img src="img/sc4.jpg"></a>
							</div>
							<div class="wood-favorite-div">
								<span class="glyphicon glyphicon-heart"></span>
							</div>
							<div class="caption-div">
								<h4>
									血檀（染料紫檀）
									<span>品质保证</span>
								</h4>
								<div class="originplace-div">
									<span class="originplace-1">原产地 :</span>
									<span class="originplace-2">中国</span>
								</div>
								<div class="specifications-div">
									<span class="specifications">规格：细木工板</span>
								</div>
								<div class="loco-div">
									<span class="loco">交易地点：菲律宾</span>
								</div>
								<div class="description-div">
									<p class="description">集成材是小块板材通过指接胶拼接、经高温热压一次定型而成。</p>
								</div>
								<div class="price-div">
									<span class="price">￥ 599 / 吨</span>
								</div>
								<div class="commentstar-div">
									<span class="commentstar">
										<span class="star-fill">
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="score">
												(7.8分)
											</span>
										</span>
										<span class="read-count">
											<span class="glyphicon glyphicon-eye-open"></span>&nbsp;7250
										</span>
									</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>